 
.banner{
    width: 1320px;
    height: 600px;
    position:relative;
    text-align: center;

}
.banner-text{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}
.banner-text h2{
    color: rgb(223, 222, 222);
}
.part-two{
   margin-top: 8%;
   position: relative;
   font-family: 'Times New Roman', Times, serif;
}
.liflet-part-text-one{
    position: absolute;
    margin-left: 50%;
    font-size: 50px;
    color: rgb(248, 55, 22);
    font-weight: 400;
    line-height: 150px;
}
.liflet-part-text-two{
    position: absolute;
    margin-left: 50%;
    top: 100px;
    font-size: 12px;
    line-height: 70px;
    color: rgb(248, 55, 22);
    
}
.liflet-part-text-three{
    position: absolute;
    margin-left: 50%;
    top: 130px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    color:rgb(19, 18, 18);
    position: absolute;
}
.liflet-part-photo{
    position: absolute;
    top: 230px;
    margin-left: 250px;
}
.part-three{
    width: 100%;
    height: 600px;
    margin-top: 1000px;
    position: relative;
}
.part-three-text-one{
    position: absolute;
    top: 150px;
    left: 100px;
    font-weight: 400;
    font-size: 30px;
    color: aliceblue;
}
.part-three-text-two{
    position: absolute;
    top: 300px;
    left: 100px;
    font-size: 16px;
    line-height: 30px;
    color: aliceblue;
}
.part-three-text-three{
    position: absolute;
    top: 380px;
    left: 100px;
    font-size: 16px;
    font-weight: 100;
    border: 1px solid aliceblue;
    border-radius: 2px;
}
.part-four{
 width: 100%;
 height: 1000px;
 margin-top: 100px;
 background-color: blueviolet;
 position: relative;
}
.part-four-row-one{
    position: absolute;
    top: 50px;
    left: 400px;
    width: 400px;
    height: 300px;
    background-color: rgb(225, 210, 239);
}
.part-four-row-two{
    position: absolute;
    top: 380px;
    left: 50px;
    width: 1250px;
    height: 400px;
    background-color: rgb(225, 172, 172);
}
part-fr-in{
    position: relative;
}

.part-four-left{
    left: 80px;
    top: 80px;
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: brown;
}
.part-four-middle{
    margin-top: 20px;
    border: 10px solid rgb(200, 33, 3);
    border-radius: 50%;
    position: absolute;
    width: 350px;
    height: 350px;
    left:420px;
    
}
.part-four-image{
    border: 0px;
    border-radius: 50%;
    position: absolute;
    width: 300px;
    height: 300px;
    left: 25px;
    top: 25px;
   
}
.part-four-right{
        left: 830px;
        top: 80px;
        position: absolute;
        width: 300px;
        height: 300px;
        background-color: rgb(22, 222, 86);
}
.part-five{
    width: 100%;
    height: 1200px;
    margin-top: 100px;
    background-color: rgb(235, 218, 229);
}
.part-five-row-one{
    width: 1100px;
    height: 200px;
    margin-left: 50px;
    margin-top:150px;
}
.part-five-col-one{
    font-size: 20px;
    line-height: 25px;
    color: brown;
    font-weight: 100;
    top: 50px;
}
.part-five-col-two{
    font-size: 30px;
    line-height: 35px;
    color: black;
    font-weight: 300;
    top: 10px;
    width: 4300px;
}
.part-five-col-two h2:hover{
    background-color: rgb(194, 200, 234);
}
.part-five-col-three{
    font-size: 20px;
    top: 10px;
}
.part-five-row-two{
    position: relative;
    width: 1100px;
    height: 400px;
    left: 50px;
    top: 50px;
}
.part-five-col-four{
    position: absolute;
    width: 400px;
    height: 400px;

    display: flex;
}
.part-five-col-five{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 430px;
    display: flex;
}
.part-five-col-six{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 860px;
    display: flex;
}

.part-five-row-three{
    position: relative;
    width: 1100px;
    height: 400px;
    left: 50px;
    top: 50px;
    margin-top: 30px;
}
.part-five-col-seven{
    position: absolute;
    width: 400px;
    height: 400px;
    display: flex;
}
.part-five-col-eight{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 430px;
    display: flex;
}
.part-five-col-nine{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 860px;
    display: flex;
}
.subscribe-part{
    width: 1100px;
    height: 600px;
    background-color: rgb(235, 218, 229);
    margin-left: 50px;
    margin-top:150px;
}
.subs-one{
    width: 400px;
    height: 200px;
    margin-left: 450px;
    margin-top:200px;
    align-items: center;
    top: 200px;
}
.subs-two{
    width: 450px;
    height: 80px;
    margin-left: 380px;
    margin-top:20px;
    align-items:center;
    font-size: 25px;
    font-weight: 100;
}
.subs-three{
    width: 900px;
    height: 80px;
    margin-left: 200px;
    margin-top:20px;
    align-items:center;
    font-size: 20px;
}

.subs-four{
    width: 400px;
    height: 100px;
    font-size: 20px;
    margin-left: 300px;
    display: flex;
}
.btn-left{
    display: flex;
    width:250px ;
    height: 80px;
    background-color: rgb(246, 246, 233);
    text-shadow: 0ch;
    color: rgb(130, 132, 137);
    border: 2px solid white;
    border-radius: 40px 0px 0px 40px;
    text-align: center;
}
.btn-left h4{
    left: 20px;
    top: 5px;
    padding-left: 20px;
}
.btn-right{
    display: flex;
    width:150px ;
    height: 80px;
    background-color:red;
    color: white;
    border: 2px solid white;
    border-radius: 0px 40px 40px 0px;
    text-align: center;
}
.btn-right h4{
    left: 20px;
    top: 5px;
    padding-left: 20px;
}